{% extends "layout.html" %}
{% block pageinfo %}
<p class="pageinfo text">Homepage. Overview and vague details. Has network map.</p>
{% endblock %}

{% block left %}
<div class="ctextcontainer">
  <h2>Network Graph</h2>
  <p></p>
  <p>ZMQ port: {{ zport }}</p>
  <p>Debug: {{ isdebug }}</p>
</div>
{% endblock %}

{% block right %}
<div class="ctextcontainer">
  <p>Preview of incoming data.</p>
  {% if text %}
  <p>{{ text }}</p>
  {% elif image %}
  <p>Theres an image! not implemented yet</p>
  {% else %}
  <p>No data incoming.</p>
  {% endif %}
</div>
{% endblock %}